@import "tailwindcss";

body {
  font-family: theme('fontFamily.sans');
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #2E7D32, #66BB6A, #D4E157, #66BB6A);
  background-size: 400% 400%;
  animation: moveGradient 15s ease infinite;
}

